
@{
    ViewBag.Title = "Menu";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="col-md-2" style="padding-right:22em"></div>
    <div class="col-md-2">
        <a href="@Url.Action("Somos","Home")" class="link">SOMOS</a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("Servicios","Home")" class="link">SERVICIOS</a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("Portafolio","Home")" class="link">PORTAFOLIO</a>
    </div>
    <div class="col-md-2"></div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
