
@{
    ViewBag.Title = "MenuMobiliario";
}

<br />
<br />
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <a href="@Url.Action("Mobiliario1","Home")" class="link">COMODA LUCAS</a>
    </div>
</div><br />
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <a href="@Url.Action("Mobiliario2","Home")" class="link">ARRIMO CAR</a>
    </div>
</div><br />
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <a href="@Url.Action("Mobiliario3","Home")" class="link">RACK CAR</a>
    </div>
</div><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<div class="row">
    <div class="col-md-1 col-md-offset-1">
        <a href="@Url.Action("Portafolio","Home")">
            <i class="glyphicon glyphicon-arrow-left" style="color:black"></i>
        </a>
    </div>
</div>
