
@{
    ViewBag.Title = "MenuMobiliarioCocina";
}

<br />
<br />
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <a href="@Url.Action("MobiliarioCocina1","Home")" class="link">COCINA HUNT</a>
    </div>
</div><br />
<div class="container">
        <div class="col-md-4 col-md-offset-4">
            <a href="@Url.Action("MobiliarioCocina2","Home")" class="link">COCINA LAS CONDES</a>
        </div>
    </div><br />
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <a href="@Url.Action("MobiliarioCocina3","Home")" class="link">COCINA PATRICIA</a>
    </div>
</div><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<div class="row">
    <div class="col-md-1 col-md-offset-1">
        <a href="@Url.Action("Portafolio","Home")">
            <i class="glyphicon glyphicon-arrow-left" style="color:black"></i>
        </a>
    </div>
</div>

